.slick-header-menubutton {
  background-position: center center;
  background-repeat: no-repeat;
  border-left: thin ridge #ddd;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  background-color: #fff;
}

.slick-header-menu {
  background: none repeat scroll 0 0 white;
  border: 1px solid #ddd;
  min-width: 175px;
  padding: 4px;
  z-index: 100000;
  cursor: default;
  font-size: 11px;
  display: inline-block;
  margin: 0;
  position: absolute;

  button {
    margin: 4px 4px 4px 0;
  }

  .filter {
    border: 1px solid #BFBDBD;
    height: 200px;
    margin-top: 6px;
    overflow: scroll;
    padding: 4px;
    white-space: nowrap;
    width: 200px;
  }
}

.filter label {
  display: block;
  margin-bottom: 5px;
  font-size: 11px;
}

.slick-header-menuitem {
  border: 1px solid transparent;
  padding: 2px 4px;
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
}

.slick-header-menuicon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}

.slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}

.slick-header-menuitem:hover {
  border-color: #BFBDBD;
}

.header-overlay, .cell-overlay, .selection-cell-overlay {
  display: block;
  position: absolute;
  z-index: 999;
}