.slick-pager {
  width: 100%;
  height: 26px;
  border: 1px solid #B6B6B6;
  background: url(../assets/images/header-columns-bg.gif) repeat-x center bottom;
  vertical-align: middle;

  .slick-pager-status {
    display: inline-block;
    padding: 6px;
  }

  .ui-icon-container {
    display: inline-block;
    margin: 2px;
    border-color: gray;
  }

  .slick-pager-nav {
    display: inline-block;
    float: left;
    padding: 2px;
  }

  .slick-pager-settings {
    display: block;
    float: right;
    padding: 2px;

    * {
      vertical-align: middle;
    }

    a {
      padding: 2px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}