// Base Grid
$slimgrid-font-family:                              system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$slimgrid-font-size:                                .875rem;
$slimgrid-font-color:                               #606f7b;
$slimgrid-bg-color:                                 #ffffff;
$slimgrid-border-color:                             #dae1e7;
$slimgrid-border-radius:                            .25rem;
$slimgrid-range-border:                             3px solid #000000;
$slimgrid-cell-selected-color:                      #606f7b;
$slimgrid-cell-selected-bg-color:                   #f1f5f8;

// Grid Headers
$slimgrid-header-bg-color:                          #f8fafc;
$slimgrid-headerrow-bg-color:                       #f8fafc;
$slimgrid-headerrow-input-height:                   25px;
$slimgrid-header-menubutton-width:                  18px;
$slimgrid-header-menubutton-filtered-color:         #3490dc;
$slimgrid-sort-indicator-color:                     #3490dc;

// Grid Pager
$slimgrid-pager-height:                             40px;
$slimgrid-pager-padding:                            11px;
$slimgrid-pager-bg-color:                           #f8fafc;
$slimgrid-pager-download-link-font-color:           #3490dc;
$slimgrid-pager-download-link-text-decoration:      underline;

// Context Menu
$slimgrid-context-menu-border-color:                #dae1e7;
$slimgrid-context-menu-bg-color:                    #f8fafc;
$slimgrid-context-menu-shadow:                      0 2px 4px 0 rgba(0, 0, 0, 0.1);
$slimgrid-context-menu-opt-disabled-font-color:     #c5c5c5;
$slimgrid-context-menu-opt-disabled-bg-color:       $slimgrid-context-menu-bg-color;
$slimgrid-context-menu-opt-hover-font-color:        $slimgrid-font-color;
$slimgrid-context-menu-opt-hover-border:            1px solid #dae1e7;
